[submodule "scala-mode2"]
  path = external/scala-mode
  url = git://github.com/hvesalai/scala-mode2
[submodule "scalatra-mode"]
  path = external/scalatra-mode
  url = git://github.com/hvesalai/scalatra-mode